<app-navbar></app-navbar>

<div class="home-container">
    <div class="main-content animate__animated animate__fadeInUp">

        <div class="main-content animate__animated animate__fadeInUp">
            <div class="thumb-container">
                <img src="..\assets\priyanka-chopra-jonas.jpg" alt="Profile image" class="thumb-image">
            </div>
        </div>

        <div class="text-container">
            <p>All about her:</p>
            <p>Priyanka Chopra Jonas (née Chopra) was born on July 18, 1982 in Jamshedpur, India, to the family of Capt. Dr. Ashok Chopra and Dr. Madhu Chopra, both Indian Army physicians. She had a very varied upbringing. She started her education at La Martinière Girls College in Lucknow as a resident student; a short stay at Maria Goretti College in Bareilly prepared her for further studies in the U.S. Having completed tenth grade in Boston, Massachusetts, U.S., she decided to become a software engineer or a criminal psychologist. She enjoys Indian music and dance; flair for writing poetry and short stories; reading, especially biographies; and has worked for a lot of social welfare programs.</p>
        </div>
    </div>


<div>
    <div>
        <div id="skills-section" class="skills-section animate__animated animate__fadeInUp" >
          <p style="font-size: 25px;color:#6b08a6 ;">Highlights</p>
        </div>
        <div class="card-container">
          <mat-card class="example-card animate__animated animate__fadeInUp">
            <mat-card-header class="row align-items-center">
              <p style="color:#6b08a6 ;">Bollywood star</p>
      
            </mat-card-header>
            <img mat-card-image src="..\assets\award.jpg" alt="Image">
            <mat-card-content>
              <p>From movies like Aitraaz, fashion to Barfi she is an icon in Bollywood for sure.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>
      
          <mat-card class="example-card animate__animated animate__fadeInUp">
            <mat-card-header class="row align-items-center">
              <p style="color:#6b08a6 ;">Global icon</p>
            </mat-card-header>
            <img mat-card-image src="..\assets\priyanka-chopra-jonas.jpg" alt="Image">
            <mat-card-content>
              <p>Quantico was surely her first global hit.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>

          <mat-card class="example-card animate__animated animate__fadeInUp">
            <mat-card-header class="row align-items-center">
              <p style="color:#6b08a6 ;">Nick Jonas</p>
            </mat-card-header>
            <img mat-card-image src="..\assets\pcnj.jpg" alt="Image">
            <mat-card-content>
              <p>Married to pop star Nick Jonas in the grandest style.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>

          <mat-card class="example-card animate__animated animate__fadeInUp">
            <mat-card-header class="row align-items-center">
              <p style="color:#6b08a6 ;">UN ambassador</p>
            </mat-card-header>
            <img mat-card-image src="..\assets\intrvw.jpg" alt="Image">
            <mat-card-content>
              <p>Known for promoting child rights, eduction and women empowerment.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>

          <mat-card class="example-card animate__animated animate__fadeInUp">
            <mat-card-header class="row align-items-center">
              <p style="color:#6b08a6 ;">Unfinished</p>
            </mat-card-header>
            <img mat-card-image src="..\assets\unfinished.jpg" alt="Image">
            <mat-card-content>
              <p>Her life story in a book.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>
      
          <mat-card class="example-card animate__animated animate__fadeInUp">
            <mat-card-header class="row align-items-center">
              <p style="color:#6b08a6 ;">Malti-Marie</p>
            </mat-card-header>
            <img mat-card-image src="..\assets\maltimarie.jpg" alt="Image">
            <mat-card-content>
              <p>A new mother.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>
      
      
      
        </div>
      </div>
</div>

</div>


<app-footer></app-footer>